<html>
<head>
	<title>Delete Menu Item</title>
</head>
<body>

	<h2>Delete {{item.name}}?</h2>
	
	<p>You are about to delete {{item.name}} from the database. You cannot undo this action.</p>
	<p><strong>Are you sure you want to delete the record?</strong></p>

<form action="{{ url_for('deleteMenuItem',restaurant_id = restaurant.id, menu_id=item.id)}}" method = 'post'>
<input type='submit', value = 'Yes, Please Delete'>
<a href='{{ url_for("showMenu", restaurant_id = restaurant.id) }}'>Cancel</a>

</form>
</body>

</html>