<html>
<head>
	<title>Restaurants Page</title>
</head>
<body>
	<h2>Restaurants Page</h2>
	<a href='{{ url_for("newRestaurant") }}'>Add New Restaurant</a>
	
	{%for restaurant in restaurants%}
	

	
	<ul>
		<li>
			<a href='{{ url_for("showMenu", restaurant_id = restaurant.id) }}'>{{restaurant.name}}</a>
		</li>
		<li>{{restaurant.description}}</li>
		<li><a href='{{ url_for("editRestaurant", restaurant_id = restaurant.id) }}'>Edit</a></li>
		<li><a href='{{ url_for("deleteRestaurant", restaurant_id = restaurant.id) }}'>Delete</a></li>
	</ul>
	

	
	{% endfor %}
	

</body>
</html>